.container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.container div{
    width: 10%;
    border-radius: 20px;
    transition: all 1s ease-in-out ;
}
.container div img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.expand{
    flex-grow: 4;
}